@media screen and (max-width: 1024px) {
    .grid__collage {
        gap: 6px;
    }
    .grid__collage > img {
        width: calc(33.33% - 5px);
    }   
}

@media screen and (max-width: 769px) {
    .place-content > img {
        height: 340px;
    }
    .lead__image {
        padding: 0;
    }
    .image__description {
        padding: 0 20px;
    }
    .footer {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        gap: 20px;
        margin-bottom: 40px;
    }
    .grid__collage {
        gap: 10px;
    }
    .grid__collage > img {
        width: calc(50% - 5px);
    } 
}
@media screen and (max-width: 564px) {
    h1 {
        font-size: 40px;
    }
    h3, h2 {
        font-size: 32px;
    }
    h4 {
        font-size: 20px;
    }



    .footer-nav {
        align-items: flex-start;
        flex-direction: column;
    }
    .grid__collage > img {
        width: 100%;
    }
    .place-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    .place-header > h2 {
        width: 100%;
    }
    .place-content {
        gap: 32px;
        flex-direction: column;
    }
    .place-content > img {
        width: 100%;
    }
    .place-content > .description {
        width: 100%;
    }
    .cover-block__text p {
        font-size: 14px;
    }
    .footer {
        gap: 48px;
    }
}